<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбрать слот</title>
</head>
<body>
  <label for="all_lots">Выберете лот</label>
  <select id="all_lots"></select>
</body>
<script>
  function redirect(e, form) {
      e.preventDefault();
      return window.location.href = `/select-slot?${form.all_lots.selectedIndex}`;
      //return window.location.href = `https://api-uae-test.ujin.tech/api/v1/parking/slots/simple-list?token=ust-739005-c8bb190f92541a2c1e839b98cbc469c9&per_page=10&lot_id=${form.all_lots}`
  }

  function insert(json){
      let select = document.getElementById('all_slots');
          for (let lot in json.data.slots){
              lot = json.data.slots[lot];
              if (lot.is_rent_available === true){
                  if (lot.is_taken === false){
                      var option = new Option();
                      option.value = lot.id;
                      option.label = lot.number;
                      select.add(option);
                  }
                  else{
                      var option = new Option();
                      option.value = lot.id;
                      option.label = lot.number;
                      option.disabled = true;
                      select.add(option);
                  }
              }
          }
  }

  async function send() {
      let result = await fetch(`https://api-uae-test.ujin.tech/api/v1/parking/slots/simple-list?token=ust-739005-c8bb190f92541a2c1e839b98cbc469c9&per_page=10&lot_id=${window.location.search.substring(10)}`, {
          method: 'get',
          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      if (result) {
          let result_json = await result.json();
          insert(result_json);
      } else {
          return alert('Неверная почта или пароль');
      }
  }

  send()
</script>
</html>